<div class="callout grid text-center">
    <div class="callout__header grid">
      <h3>Get early access today</h3>
      <p>It only takes a minute to sign up and our free starter tier is extremely generous. If you have any 
        questions, our support team would be happy to help you.</p>
    </div>
    <form class="callout-content" id="form" novalidate>
      <label class="input-container" for="email">
        <input class="input-email" placeholder="email@example.com" name="email" id="email" type="email" required>
        <span class="error-message">Please enter a valid email address</span>
      </label>
      <button type="submit" class="btn btn-submit btn-block btn-gradient">Get started for free</button>
    </form>
  </div>