<div class="features grid grid-1x2">
  <div class="feature flex">
    <div class="feature-logo">
      <img src="./images/icon-access-anywhere.svg" alt="Access">
    </div>
    <div class="feature-content flex">
      <h2 class="feature__heading">Access your files, anywhere</h2>
      <p class="feature__subheading">The ability to use a smartphone, tablet, or computer to access your account means your 
        files follow you everywhere.</p>
    </div>
  </div>
  <div class="feature flex">
    <div class="feature-logo">
      <img src="./images/icon-security.svg" alt="Access">
    </div>
    <div class="feature-content flex">
      <h2 class="feature__heading">Security you can trust</h2>
      <p class="feature__subheading">2-factor authentication and user-controlled encryption are just a couple of the security 
        features we allow to help secure your files.</p>
    </div>
  </div>
  <div class="feature flex">
    <div class="feature-logo">
      <img src="./images/icon-collaboration.svg" alt="Access">
    </div>
    <div class="feature-content flex">
      <h2 class="feature__heading">Real-time collaboration</h2>
      <p class="feature__subheading">Securely share files and folders with friends, family and colleagues for live collaboration. 
        No email attachments required.</p>
    </div>
  </div>
  <div class="feature flex">
    <div class="feature-logo">
      <img src="./images/icon-any-file.svg" alt="Access">
    </div>
    <div class="feature-content flex">
      <h2 class="feature__heading">Store any type of file</h2>
      <p class="feature__subheading">Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all 
        file types to be securely stored and shared.</p>
    </div>
  </div>
</div>