<footer class="footer">
    <div class="footer-logo">
      <img src="./images/logo.svg" alt="Brand logo">
    </div>
    <div class="footer-lists grid">
      <ul class="list grid">
        <li class="list__item list__item-icon">
          <svg class="icon">
            <use xlink:href="./sprites/list-sprite.svg#icon-location"></use>
          </svg>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua</p>
        </li>
        <li class="list__item list__item-icon">
          <svg class="icon">
            <use xlink:href="./sprites/list-sprite.svg#icon-phone"></use>
          </svg>
          <p>+1-543-123-4567</p>
        </li>
        <li class="list__item list__item-icon">
          <svg class="icon">
            <use xlink:href="./sprites/list-sprite.svg#icon-email"></use>
          </svg>
          <p>example@fylo.com</p>
        </li>
      </ul>
      <ul class="list">
        <li class="list__item">
          <a href="#" class="link link-gray">About Us</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link-gray">Jobs</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link-gray">Press</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link-gray">Blog</a>
        </li>
      </ul>
      <ul class="list">
        <li class="list__item">
          <a href="#" class="link link-gray">Contact Us</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link-gray">Terms</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link-gray">Privacy</a>
        </li>
      </ul>
      <ul class="list list-inline text-center">
        <li class="list__item">
          <a href="#" class="link link-gray">FB</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link-gray">TW</a>
        </li>
        <li class="list__item">
          <a href="#" class="link link-gray">IG</a>
        </li>
      </ul>
    </div>
  </footer>