<a href="#" class="link link-gray">Link Gray</a>
  <a href="#" class="link link-cyan">Link Cyan</a>
  <a href="#" class="link link-cyan link-underline">Link Cyan Underline</a>
  <a href="#" class="link link-cyan link-underline link-arrow">Link Cyan Underline</a>
  <svg class="icon">
    <use xlink:href="./sprites/list-sprite.svg#icon-location"></use>
  </svg>
  <a href="#" class="link-icon">
    <svg class="icon">
      <use xlink:href="./sprites/list-sprite.svg#icon-email"></use>
    </svg>
  </a>
  <a href="#" class="link-icon">
    <svg class="icon">
      <use xlink:href="./sprites/list-sprite.svg#icon-location"></use>
    </svg>
  </a>
  <a href="#" class="link-icon">
    <svg class="icon">
      <use xlink:href="./sprites/list-sprite.svg#icon-phone"></use>
    </svg>
  </a>