<ul class="list list-inline">
    <li class="list__item">
      <a href="#" class="link link-gray">Link Gray</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link-gray">Link Gray</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link-gray">Link Gray</a>
    </li>
  </ul>

  <ul class="list">
    <li class="list__item">
      <a href="#" class="link link-gray">Link Gray</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link-gray">Link Gray</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link-gray">Link Gray</a>
    </li>
  </ul>

  <ul class="list">
    <li class="list__item list__item-icon">
      <svg class="icon">
        <use xlink:href="./sprites/list-sprite.svg#icon-location"></use>
      </svg>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, doloremque.</p>
    </li>
    <li class="list__item list__item-icon">
      <svg class="icon">
        <use xlink:href="./sprites/list-sprite.svg#icon-location"></use>
      </svg>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, doloremque.</p>
    </li>
    <li class="list__item list__item-icon">
      <svg class="icon">
        <use xlink:href="./sprites/list-sprite.svg#icon-location"></use>
      </svg>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, doloremque.</p>
    </li>
  </ul>