<div class="testimonials grid grid-1x3">
    <div class="testimonial flex">
      <div class="testimonial__content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci alias recusandae cupiditate ut perspiciatis hic, nisi nam. Fugit, aliquam libero?</p>
      </div>
      <div class="testimonial__footer flex">
        <div class="testimonial__avatar">
          <img src="./images/profile-1.jpg" alt="Profile 1">
        </div>
        <div class="testimonial-profile flex">
          <p>Satish Patel</p>
          <span>Founder & CEO</span>
        </div>
      </div>
    </div>
    <div class="testimonial flex">
      <div class="testimonial__content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci alias recusandae cupiditate ut perspiciatis hic, nisi nam. Fugit, aliquam libero?</p>
      </div>
      <div class="testimonial__footer flex">
        <div class="testimonial__avatar">
          <img src="./images/profile-1.jpg" alt="Profile 1">
        </div>
        <div class="testimonial-profile flex">
          <p>Satish Patel</p>
          <span>Founder & CEO</span>
        </div>
      </div>
    </div>
    <div class="testimonial flex">
      <div class="testimonial__content">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci alias recusandae cupiditate ut perspiciatis hic, nisi nam. Fugit, aliquam libero?</p>
      </div>
      <div class="testimonial__footer flex">
        <div class="testimonial__avatar">
          <img src="./images/profile-1.jpg" alt="Profile 1">
        </div>
        <div class="testimonial-profile flex">
          <p>Satish Patel</p>
          <span>Founder & CEO</span>
        </div>
      </div>
    </div>
  </div>